*

!README
!LICENSE

!docker-compose.yaml

!.env.example

!.gitignore

!.github/
!.github/workflows/
!.github/workflows/**

!go.mod
!go.sum

!Makefile

!build/
!build/package/
!build/package/peekadee/
!build/package/peekadee/sqlc.yaml
!build/package/peekadee/queries/
!build/package/peekadee/queries/*

!cmd/
!cmd/peekadee/
!cmd/peekadee/*

!internal/
!internal/config/
!internal/config/*
!internal/db/
!internal/db/*

!scripts/
!scripts/**

!submodules/
!submodules/**
